{% extends 'base.html' %}

{% block title %}Atención al Cliente - Dana{% endblock %}

{% block content %}
<h2>¡Bienvenido al centro de consultas de Dana!</h2>

<p>Esta seccion le permite ver una serie de preguntas frecuentes que los usuarios nos hacen acerca de las compras. <br />
   Estamos siempre a su disposición por cualquier consulta. Para hacer una pregurta, diríjase a la sección de comentarios.
</p>

<div class="preguntas-frecuentes">
    <h2>¿Como hago una compra en Dana?</h2>
    <span>Muy simple: dirígete a la sección de productos y selecciona el que desees agregar al carrito. <br />
          Puedes ver una vista detallada del producto, elegir la cantidad que deseas y luego porceder al carrito para finalizar la compra.
          Recuerda que el único medio de pago, por ahora, es ingresando los datos de la tarjeta. 
    </span>
</div>

<div class="preguntas-frecuentes">
    <h2>¿Qué hacer si un producto llega dañado?</h2>
    <span>La política de productos dañados es responsabilidad del servicio de cadetería, en cuyo caso el solo reclamo habilita a un cambio o reposición del producto en el menor tiempo posible. <br />
        El producto dañado debe ser devuelto a nuestra sucursal en los proximos 5 días o, de lo contrario, nos reservamos el derecho a la no reposición del producto. 
          Si el mismo se encuentra agotado, no puede pedir el reembolso del dinero y deberá cambiarlo por otro producto, que puede tener el mismo precio o menor pero no podrá exceder el monto del producto a cambiar.
    </span>
</div>

<div class="preguntas-frecuentes">
    <h2>¿Como acceder a los descuentos?</h2>
    <span>Es posible acceder a ellos si se suscribe a nuestro sistema de lealtad Premium, por un minimo coste recibe un monto en su cartera personal que puede transferirse para acceder a premios especiales. <br>
         El dinero queda en su cuenta y es acumulable con otros sistemas de descuentos del propio supermercado. Los productos adquiridos con este dinero no tienen devolución, sin importar el estado en el que se encuentren, pero pueden reclamarse si son recibidos incompletos. <br>
         Es importante que conozca que tiene el 30% en todos los productos que se venden el supermercado, pero el costo de acceder a la membresía es de $40.000,00 mensuales y para acceder a estos descuentos no debe adeudar ninguna cuota.
    </span>
</div>

<h1><b>Comentarios</b></h1>
<p style="text-align:center;">En esta sección, puede dar su opinión acerca del servicio. Lo leeremos con gusto.<p>
<br>
{% if user.is_authenticated %}
<div class="form-centered">
    <form  method="post" action="{% url 'atencion_cliente:crear_comentario' %}">
        {% csrf_token %}
        <input type="hidden" name="parent_id" id="parent_id" value="">
        <div id="replying-box" style="display:none; margin-bottom:10px;">
            Respondiendo a <strong id="replying-name"></strong>
            <button type="button" onclick="clearParent()" style="cursor:pointer; border-radius: 20px;">&times;</button>
        </div>
        {{form.titulo}}
        {{form.mensaje}}
        {{form.puntuacion}}
        <button type="submit" class="form-button">Enviar</button>
        <button type="button" class="form-button" onclick="clearParent()">Cancelar respuesta</button>
    </form>
</div>
<br>
<div class="toggle-btn">
    <button type="button" class="form-button" id="comments-toggle" onclick="toggleComments()">
        Mostrar comentarios ({{ total }})
    </button>
</div>
<div class="selection-box">
    <span>Ordenar por: </span>
    <form method="get">
        <select class="select-combo" name="orden" onchange="this.form.submit()">
            <option value="best" {% if orden == 'best' %}selected{% endif %}>Mejor calificados</option>
            <option value="worst" {% if orden == 'worst' %}selected{% endif %}>Peor calificados</option>
            <option value="newest" {% if orden == 'newest' %}selected{% endif %}>Más recientes</option>
            <option value="oldest" {% if orden == 'oldest' %}selected{% endif %}>Más antiguos</option>
        </select>
    </form>
</div>
<br>
{% else %}
<p style="text-align: center; margin-top:20px;">Debes <a href="{% url 'clientes:login' %}" style="font-style:italic; color: red;">iniciar sesión</a> para comentar.</p>
{% endif %}
<div id="wrapper" class="hidden">
{% for comment in comentarios %}
   {% include "atencion_cliente/comment_item.html" with comment=comment level=0 %}
{% empty %}
    <p style="text-align:center; margin-bottom:20px;">No hay comentarios aún. ¡Sé el primero en comentar!</p>
{% endfor %}
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
function setParent(id, username) {
    const parentInput = document.getElementById('parent_id');
    if (parentInput) {
        parentInput.value = id;
        parentInput.scrollIntoView({behavior: 'smooth', block:'center'});
    }
    document.getElementById('replying-name').textContent = username;
    document.getElementById('replying-box').style.display = 'block';
}

document.querySelectorAll('.reply-btn').forEach(btn => {
    btn.addEventListener('click', function () {
        setParent(this.dataset.id, this.dataset.username);
    });
});

function toggleComments() {
    const section = document.getElementById('wrapper')
    const button = document.getElementById('comments-toggle')
    section.classList.toggle('hidden');

    if (section.classList.contains('hidden')) {
        button.textContent = `Mostrar comentarios (${section.querySelectorAll('.main-comments').length})`;
    } else {
        button.textContent = `Ocultar comentarios (${section.querySelectorAll('.main-comments').length})`;
    }
}

function clearParent() {
    const parentInput = document.getElementById('parent_id');
    if (parentInput) {
        parentInput.value = '';
    }
    document.getElementById('replying-name').textContent = '';
    document.getElementById('replying-box').style.display = 'none';

    const form = document.querySelector('.form-centered form');
    if (form) {
        form.reset();
    }
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookies[i].substring(0, name.length +1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookies[i].substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function vote(commentId, voto) {
    fetch(`/atencion_cliente/votar/${commentId}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: `voto=${encodeURIComponent(voto)}`
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById(`likes-${commentId}`).textContent = `👍🏻 ${data.likes}`;
        document.getElementById(`dislikes-${commentId}`).textContent = `👎🏻 ${data.dislikes}`;

         const likeBtn = document.getElementById(`like-btn-${commentId}`);
    const dislikeBtn = document.getElementById(`dislike-btn-${commentId}`);

    if (likeBtn && dislikeBtn) {
        likeBtn.classList.remove('active-like');
        dislikeBtn.classList.remove('active-dislike');

        if (data.user_vote === 'like') {
            likeBtn.classList.add('active-like');
        } else if (data.user_vote === 'dislike') {
            dislikeBtn.classList.add('active-dislike');
        }
    }
    });
}

</script>
{% endblock %}