{% extends 'base.html' %}
{% load static %}

{% block title %}Restablecer contraseña - Dana{% endblock %}

{% block content %}
<br>
<h3>| Restalecer Contraseña |</h3>
<br>
<p style="text-align:center">
    Restablece tu contraseña.
    Se te enviará un mensaje de confirmación por correo.
</p>

<section class="login-form">
    <form method="POST" action="{% url 'clientes:reset_password' %}">
        <div class="form-input">
            <label for="username" id="gap-label">Usuario: </label>
            <input type="text"
                   id="username"
                   name="username"
                   autocomplete="username"
                   placeholder="User1"
                   class="{% if form.username.errors %}is-invalid{% endif %}">
        <br>
        {% if form.username.errors %}
            {% for error in form.username.errors %}
               <em><small class="invalid-feedback">{{ error }}</small></em>
            {% endfor %}
        {% endif %}
        </div>
    <br>
    <div class="form-input">
        <label for="email" id="gap-email">Correo Electrónico: </label>
        <input type="email"
               id="email"
               name="email"
               autocomplete="email"
               placeholder="example@example.com"
               class="{% if form.email.errors %}is-invalid{% endif %}">
        <br>
        {% if form.email.errors %}
               {% for error in form.email.errors %}
                 <em><small class="invalid-feedback">{{ error }}</small></em>
               {% endfor %}
        {% endif %}
    </div>
    <br>

    {% if message %}
    <p class="sucess-message">{{ message }}</p>
    {% endif %}

    <button type="submit" class="form-button">Enviar Enlace</button>
    <br>
    </form>
</section>
{% endblock %}